body {
    max-width: 1440px;
    margin: 40px auto 0px;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #0B0223;
    --secondary-color: #534C64;
}

/* Nav styles starts */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 140px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--primary-color);
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav li {
    list-style: none;
}

nav li a {
    color: #3C354F;
    font-weight: 500;
    text-decoration: none;
}

.follow-link {
    display: flex;
    gap: 30px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 24px;
}

/* Nav styles ends */

/* Banner styles starts */
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 70px;
    align-items: center;
    padding: 0px 140px;
}

.banner-title-1 {
    color: var(--primary-color);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    width: max-content;
    margin-bottom: 0px;
}

.banner-title-2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.2rem;
    font-weight: 800;
    margin-top: 0px;
}

.banner img {
    width: 100%;
}

.banner-points p {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    list-style: none;
    line-height: 46px;
    width: max-content;
}

.sign-btn {
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 20px 40px;
    border: none;
}

.sign-btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.go-rogue-btn {
    border-radius: 48px;
    background-color: #4EC5F7;
    padding: 20px 40px;
    border: none;
    margin-left: 20px;
}

.go-rogue-btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

/* Banner styles ends */

/* We are gamer styles starts */
.we-are-gamer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 95px 140px;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 50px;
}

.we-are-gamer-title {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-are-gamer-description {
    color: var(--secondary-color);
    line-height: 30px;
}

.more-btn {
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 20px 40px;
    border: none;
}

.more-btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.more {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 500;
}

.we-are-gamer-foot-title {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 700;

}

.we-are-gamer img {
    width: 100%;
}

/* We are gamer styles ends */

/* Online Games styles starts */
.online-games {
    text-align: center;
}

.online-games h2 {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
}

.online-games p {
    color: var(--secondary-color);
}

.games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 24px;
    margin-top: 48px;
    padding: 0px 140px;
}

.game img {
    width: 100%;

}
.icon p{
    margin-left: -30px;
}
.game .icon {
    position: relative;
    bottom: 40%;
    left: 45%;
    height: 3rem;
    visibility: hidden;
}

.game:hover .icon{
    visibility: visible;
    cursor: pointer;
}

.game p {
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 30px;
}
.overlay-container{
    position: relative;
    display: inline-block;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    border: 2px solid #FF42A5;
    border-radius: 10px;
}
.game:hover .overlay{
    cursor: pointer;
    opacity: 1;
}
/* Online Games styles ends */

/* Play Instant styles starts */

.play-instant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 0px 140px;
    gap: 200px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.play-instant-details {
    text-align: right;
}

.play-instant-title {
    width: max-content;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

.play-instant-description {
    color: var(--secondary-color);
    line-height: 30px;
}

.play-instant img:first-child {
    width: 100%;
}

.scnd-img {
    position: relative;
    bottom: 500px;
    left: 400px;
    margin-bottom: 0px;
}

/* Play Instant styles ends */

/* Career styles sstarts */
.careers {
    background-color: #FF42A5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    position: relative;
    bottom: 350px;
    
}

.career-details {
    padding-left: 140px;
}

.career-title {
    font-size: 3rem;
    font-weight: 700;
}

.career-description {
    line-height: 20px;
    text-align: justify;
}

.lists {
    display: flex;
    justify-content: space-between;
}

.lists .place {
    text-align: right;
}

.lists p {
    font-weight: 600;
    line-height: 20px;
}

.careers img {
    width: 100%;
    padding: 0px;
}
.see-position-btn {
    border-radius: 48px;
    background-color: #FFF;
    padding: 20px 40px;
    border: none;
    
}

.see-position-btn a {
    color: #FF42A5;
    text-decoration: none;
    font-weight: 600;

}
/* Career styles ends */

/* Game type styles starts */
.game-types{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    position: relative;
    justify-content: center;
    row-gap: 2rem;
    bottom: 200px;
    padding: 0px 140px; 

}

.row-1{
    display: flex;
    gap: 2.5rem;
    margin: 0px auto;
}
.row-2{
    display: flex;
    gap: 2.5rem;
    margin: 0px auto;
}
.type-name{
    display: flex;
    gap: 1rem;
    padding: 10px;
    border: 1px solid transparent;
    text-align: center;
    width: max-content;

    
}
.type-name:hover{
    color: #FF42A5;
    border: 1px solid #FF42A5;
    border-radius: 50px;
    cursor: pointer;
    
}
/* Game type styles ends */

/* Footer styles starts */
footer{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 1rem;
}
.logo{
    display: flex;
    gap: 20px;
}
footer .about{
    display: flex;
    gap: 60px;
}
footer .about li{
    list-style: none;

}
footer .about li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
footer .contact{
    display: flex;
    gap: 40px;
} 
footer .contact a{
    text-decoration: none;

}
.contact button{
    background-color: transparent;
    border: none;
}
.terms ul{
    display: flex;
    gap: 60px;
}
.terms li{
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    cursor: pointer;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
}
/* Footer styles ends */

/* Styles for mobile view */
@media screen and (max-width: 425px) {
    html, body{
        overflow-x: hidden;
    }

    header,.careers,nav, nav>ul,.banner, .we-are-gamer, .games, .play-instant, .game{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .banner, .we-are-gamer, .games, .play-instant{
        padding: 50px;  
    }
    .career-details, .game{
        padding: 20px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .we-are-gamer-details, .play-instant-details, .we-are-gamer-title{
        text-align: center;
    }

    footer .about, .contact{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .terms ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .scnd-img{
        left:0px;
    } 
    .play-instant img:first-child{
        width: 50%;
        padding: 50px;
    };

    footer{
        padding: 10px;
    }
    .logo{
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }
    footer .about{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    footer .contact{
        justify-content: center;
        gap: 10px;
    }
    .terms ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .copyright, .terms li{
        font-size: 12px;
    }
}
